body{overflow-x:hidden}
*{padding:0;margin:0}
html,body,h1,h2,h3{font-family:Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif}
li{list-style:none}
a,a:hover,a:focus{text-decoration:none;cursor:pointer}
/*眉页*/
.fa{color:#fff}
.oneall_head{position:fixed;z-index:12;top:0;margin:0 auto;width:100%;background-image:linear-gradient(-90deg,#ff3d3d 0,#ff813a 100%)}
.oneall_head .oneall_head_box .oneall_inner{width:96%;height:60px;margin:auto;max-width:1200px;margin:0 auto}
.oneall_head .oneall_head_box .oneall_inner .oneall_nav{list-style:none;float:left}
.oneall_head .oneall_logo{float:left;padding:0;font-size:24px;margin-right:7%}
.oneall_head .oneall_logo a{display:block;width:100%;height:60px;overflow:hidden;text-decoration:none}
.oneall_inner .oneall_nav li{float:left;width:120px;text-align:center}
.oneall_inner .oneall_nav li a:hover,.oneall_inner .oneall_nav li a:focus{color:#fff}
.oneall_inner .oneall_nav li a{height:60px;line-height:60px;color:#fff;font-size:14px;display:block}
.oneall_nav li.active a{color:#fff;border-bottom:2px #fff solid}
.oneall_nav li a:hover{border-bottom:3px #ccc solid;box-shadow:0 0 5px rgba(0,0,0,0.1)}
.oneall_accounts{float:right;height:60px;text-align:center}
.oneall_accounts .acounts_box{height:60px;line-height:60px}
.oneall_accounts .acounts_box .hdk_login-reg{margin-right:20px;vertical-align:middle}
.oneall_accounts .acounts_box .hdk_login-reg a{color:#fff}
.circle1:hover{transform:scale(1.2);box-shadow:0 1px 8px rgba(0,0,0,.5)}
/*脚页*/
.footer{width:100%;position:relative;min-width:1200px;background-color:#2c3140;text-align:center;padding:50px 0}
.foot-logo{width:400px;float:right;margin-right:80px;margin-top:10px}
.foot-logo span{display:inline-block;position:relative;width:100px;height:45px;margin-right:20px;top:5px}
.foot-logo a{text-decoration:none;color:#333}
.foot-logo img{width:100px;height:45px}
.footBottom{line-height:22px;width:1200px;margin:0 auto;display:block;color:#6d7489;font-size:12px;text-align:left}
.foot-link{padding-bottom:8px;margin-bottom:10px;font-size:16px;border-bottom:1px solid rgba(255,255,255,.17);width:650px}
.footBottom a{margin-left:15px;color:#6d7489}
.footBottom{line-height:22px;display:block;color:#6d7489;font-size:12px;text-align:left}
/*顶部*/
.toTopH{position:fixed;right:4%;bottom:4%;width:56px;height:56px;background-image:linear-gradient(-0deg,#ff3d3d 0,#ff813a 100%);border-radius:56px;text-align:center;transition:500ms;line-height:56px;display:none;font-size:16px;z-index:999999;color:#fff;cursor:pointer}
.aip-back-top i{color:#fff}